.login-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#171717, #000000);
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: #5781FF;
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .password {
    margin-top: 10px;
  }

  .form-login {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin: -3% 0 15px 0;
      color: #5781FF;
    }

    .logo {
      width: 32%;
      height: auto;
      margin: 0 0 10px 0;
    }

    .login-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      input {
        padding: 12px;
        width: 170%;
        background-color: #7575755b;
        border: 1px solid rgba(92, 92, 92, 0.479);
        border-radius: 10px;
        color: #c2c2c2;
      }
      ::placeholder{
        color: #c2c2c2;
      }
    }

    .cadastre-se {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .novo-cadastro {
        display: flex;
        gap: 4px;

        p {
          color: rgba(255, 255, 255, 0.781);
        }
      }
    }
  }

  .login-image {
    width: 50vw;
    height: 100vh;
    background: url('../../assets/login.png') no-repeat center center;
    background-size: cover;
    background-color: aliceblue;
  }

  // -----------------
  // RESPONSIVIDADE
  // -----------------
  @media (max-width: 1050px) {
    .form-login {
      h1 {
        font-size: 24px;
        height: auto;
      }

      .login-input {
        input {
          width: 140%;
          padding: 10px;
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 900px) {
    justify-content: center;

    .login-image {
      display: none;
    }

    .form-login {
      .logo {
        width: 40%;
      }
    }
  }

  @media (max-width: 600px) {
    .form-login {
      .logo {
        width: 60%;
      }
    }
  }
}
