.button{
    padding: 8px 35px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    background: linear-gradient(to right, rgb(189, 99, 250), rgb(172, 71, 255), rgb(172, 71, 255), rgb(171, 60, 245)) ;
    color: white;
    font-weight: bold;
    background-position: left;
    background-size: 450%;
    transition: 0.3s background-position ease-in-out;
    color: white;
    font-weight: bold;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.425);
    
        &:hover{
             background-position: right
        }
        
};