.cards{ 
    z-index: 20;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 25vw;
        height: 15vh;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.37);
        padding: 15px;
        font-size: 18px;
    }
    div:nth-child(2){
        background-image: linear-gradient(to right,rgb(169, 65, 255), rgb(186, 83, 255),rgb(186, 83, 255), rgb(169, 65, 255)) ;
        color: white;
        background-position: left;
        background-size: 450%;
        transition: 0.4s background-position ease-in-out;
    &:hover{
        background-position: right
    }
    };
    svg{
        margin: -15% 0 0 0;
    }
}