.navbar{
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav{
    z-index: 100;
    display: flex;
    align-items: center;
    width: 70%;
    margin:  15px 0px 0 0;
    padding: 9px 10px;
    background-color: rgba(0, 0, 0, 0.438);
    justify-content: space-between;
    border-radius: 50px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.274);
    box-shadow:  1px 2px 5px rgba(0, 0, 0, 0.315);
    color: rgb(255, 255, 255);
    img{
        width: 13%;
        height: auto;
        margin: -5px 0 0 10px;
    }   
    .navbar-center{
        display: flex;
        gap: 25px;
        margin: 0 0 0 10px;
        a{
            
            color: rgb(255, 255, 255);
            }
    }
}