    .presentation{
        width: 100%;
        height: auto;
        margin: -5% 0 0 0;
        z-index: 10;
        @media (max-width:1400px) {
            margin: -8% 0 0 0;
        };
        @media (max-width:900px) {
            margin: -12% 0 0 0;
        }
    }
    .textPresentation{
        display: flex;
        width: 32vw;
        margin: -30% 5% 8% 5%;
    .text{
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin: -10% 0 0 0;
        color: rgb(255, 255, 255);
        height: 40vh;
        padding: 6% 10% 20px 20px;
       
        .botoes{
            display: flex;
            gap: 15px;
        
            .inscreva-se{
                width: 40%;
                padding: 9px;
                border-radius: 20px;
                border: none;
                box-shadow:  1px 2px 5px rgba(0, 0, 0, 0.315);
                margin: 10px 0 0 0;
                font-size: 15px;
                &:first-child{
                background: linear-gradient(to right, rgb(189, 99, 250), rgb(172, 71, 255), rgb(172, 71, 255), rgb(171, 60, 245)) ;
                color: white;
                font-weight: bold;
                 background-position: left;
        background-size: 450%;
        transition: 0.3s background-position ease-in-out;
                &:hover{
                     background-position: right
                }
                }
            }
        }

p{
    font-size: 18px;
};
span{
         color: rgb(211, 144, 255) 
        };    
    }
}
.about{
    display: flex;
    justify-content: space-between;
    padding: 0% 10% 0 5%;
    img{
        width: 45%;
        height: auto;
    }
    div{
        margin: 10% 0 0 0;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        p{
            color: rgb(49, 49, 49);
        }
    }
    .icons {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        .iconDivision{
            display: flex;
            align-items: center;
        width: 100%;
            justify-content: flex-start;
            flex-direction: row;
            gap: 10px;
            margin: 2% 0 0 0;
        }
        .icon{
                background: linear-gradient(to right, rgb(189, 99, 250), rgb(169, 65, 255)) ;

            box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.205);
            border-radius: 50%;
            width:auto;
            padding: 12px;
            display: flex;
            margin: 0;
            align-items: center;
            justify-content: center;
            height: auto;

      
        }   
    }
}
.titulo{
    margin: 5% 0 4% 0;
text-align: center;
p{
    font-size: 21px;
};
}